.navbar {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-logo img {
    height: 4rem;
}

.menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.nav-links {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: #8AFF74;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        z-index: 999;
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-links {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }
}
